<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <property name="LOG_PATH" value="C:/commerzbank/logs/"/>

	<!-- 
	    If no active profile (default): logs to console.
    	If active profile (LOCAL): logs to a rolling file and to console.
    	To define the active profile: 'spring.profiles.active=<profile>' in application.yml . 
	-->

    <springProfile name="default">
        <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

        <logger name="org.springframework" level="ERROR"/>
        <logger name="es.commerzbank" level="DEBUG"/>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="LOCAL">

        <appender name="FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOG_PATH}embargos.log</file>

            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>${LOG_PATH}embargos.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
                <!-- each archived file, size max 10MB -->
                <maxFileSize>10MB</maxFileSize>
                <!-- total size of all archive files, if total size > 2GB, it will delete old archived file -->
                <totalSizeCap>2GB</totalSizeCap>
                <!-- 60 days to keep -->
                <maxHistory>60</maxHistory>
            </rollingPolicy>

            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %m%n</pattern>
            </encoder>
        </appender>

        <logger name="org.springframework" level="ERROR"/>
        <logger name="es.commerzbank" level="DEBUG"/>
        <root level="INFO">
            <appender-ref ref="FILE-ROLLING"/>
        </root>
    </springProfile>

</configuration>
